@font-face {
    font-family: 'GillSansMTStd-Medium';
    src: url(https://s3.eu-west-3.amazonaws.com/tagwalk-assets/font/gill-sans/309507_1_0.woff) format("woff"), url(https://s3.eu-west-3.amazonaws.com/tagwalk-assets/font/gill-sans/309507_1_0.woff2) format("woff2"), url(https://s3.eu-west-3.amazonaws.com/tagwalk-assets/font/gill-sans/309507_1_0.ttf) format("truetype"), url(https://s3.eu-west-3.amazonaws.com/tagwalk-assets/font/gill-sans/309507_1_0.eot) format("embedded-opentype");
}

html, body {
    font-family: "GillSansMTStd-Medium", sans-serif !important;
}

main {
    width: 100%;
    min-height: 400px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem;
    font-size: 2rem;
}

/* Insert CSS code here */

* {
	transition: all 0.5s ease-out;
}

.section {
	height: 400px;
    width: 50%;
    margin-bottom: 30px;
	position: relative;
}

.section01,
.section02 {
	float: left;
}

.main-picture,
.secondary-pictures {
	float: left;
}

.main-picture {
	height: 400px;
}

.secondary-pictures {
	margin: 0 0 0 5px;
}

.secondary-pictures-top {
	margin-bottom: 5px; 
}

.section:hover img {
	opacity: 0.5
}

.event-and-date-container {
	height: 80px;
	width: 200px;
	padding: 5px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -100px;
	background-color: orange;
	text-align: center;
}

.clear {
	clear: both;
}
